/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
    	margin: 0;
    padding: 0;
}


body {
	margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#0a0a0a;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

p, h1, h2, h3, h4, h5, h6, a, input, select {
    margin: 0;
    line-height: 2em;
    letter-spacing: 1px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
a {
    text-decoration: none;
    color:inherit;
}
p {
    font-size: 14px;
}
h1 {
    text-transform: uppercase;
    font-size: 34px;
}
h3 {
   text-transform: uppercase;
    font-size:22px;
    font-weight: 800;  
}
h5 {
    text-transform: uppercase;
    font-size:14px;
    font-weight: 800; 
}
a {
     outline:0;
}
a.btn {
    background: #fff;
    color:#6dd396;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 500;
    padding: 15px 40px;
    transition: background 0.75s ease-in;
}
a.btn:hover {
    background: #6dd396;
    color:#fff;
    border-color:#fff;
}
a.btn_inverse {
    background: #6dd396;
    color:#fff;
}
a.btn_inverse:hover {
    background: #fff;
    color:#6dd396;
    border-color:#6dd396;
}
a.btn_transparent {
    background: transparent;
    color:#fff;
    border-color: #fff;
    max-width: 105px;
    text-align: center;
}
a.btn_transparent:hover {
    border-color:#6dd396;
}
.clear {
    clear: both;
    float: none;
}
.page_front_container {
    position: relative;
    margin-top: 81px;
}
.page_default_container {
    position: relative;
    margin-top: 81px;
}


/* Banner
	 ========================================================================== */
#video-viewport { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    z-index: -1; 
    min-height: 80vh !important;
}
video { display: block; width: 100%; height: auto; }

.fullsize-video-bg { 
    height: 100%; 
    min-height: 80vh;
    overflow: hidden; 
}


.fullsize-video-bg .inner { display: table; width: 100%; max-width: 24em; height: 100%; margin: 0 auto; padding: 0; position: relative; z-index: 2; text-shadow: 0 1px 5px rgba(0,0,0,.5); }
.fullsize-video-bg .inner > div { text-align: center; display: table-cell; vertical-align: middle; padding: 0 2em; }
#video-viewport {
    
}








/* Slider
	 ========================================================================== */
.slick-dots li button:before {
    font-size: 12px;
    opacity: 0.75;
}
li.slick-active button:before {
    font-size: 18px;
}
.slick-track {
    margin-bottom: 40px;
}
.slick-dots li:nth-child(1) button:before {
    color: #000;
}
.slick-dots li:nth-child(2) button:before {
    color: #DC307E;
}
.slick-dots li:nth-child(3) button:before {
    color: #384FD3;
}
.slick-dots li:nth-child(4) button:before {
    color: #DF5AA1;
}
/* Woocommerce
	 ========================================================================== */
.wrps_related_products_area {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background:#F8F8F8;
}
.single-product .wrps_related_products_area div.product {
    padding-top: 0;
}
.wrps_related_products_area h2 {
    text-transform: uppercase;
    padding-bottom: 30px;
}
.wrps_related_products.wrps_theme_box .wpb_wrps_title a {
    color:#000 !important;
    text-transform: uppercase;
}
.wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.button, .wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.added_to_cart {
    background: #fff !important;
    border-color: #6dd396 !important;
    color:#6dd396 !important;
}
.wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.button:hover, .wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.added_to_cart:hover {
        background: #6dd396 !important;
    border-color: #6dd396 !important;
    color:#fff !important;
}
.nav-next {
    display: none;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    margin-bottom: 10em !important;
}
h3#order_review_heading {
    text-align: center;
        display: block;
    font-size: 14px;
    color: #9e9d9e;
    text-transform: uppercase;
        font-weight: 500;
    letter-spacing: 1.5px;
    width: 75%;
}
.woocommerce-tabs.wc-tabs-wrapper,
div#comments{
    display: none;
}
button#place_order {
    width: 100%;
}
table.shop_table.woocommerce-checkout-review-order-table tbody {
    display: none;
}
table.shop_table.woocommerce-checkout-review-order-table tr.order-total {
    text-align: center;
    
}
div#customer_details {
    margin-bottom: 50px;
}
div#order_review {
    width: 75%;
}
div#customer_details label {
    display: block;
    font-size: 12px;
    color: #9e9d9e;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
div#customer_details h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
    width: 75% !important;
    float: none !important;
}
div#customer_details input,
div#customer_details textarea,
div#customer_details select {
    background: transparent;
    height: 35px !important;
    padding: 5px;
    font-size: 12px !important;
    border: 1.5px solid rgba(218, 218, 218, 0.7) !important;
    margin-bottom: 10px;
    outline-color: #6dd396 !important;
}
div#customer_details textarea {
    height: 200px !important;
    letter-spacing: 1px;
    padding: 10px !important;
}
.woocommerce-message,
.woocommerce-info{
    border-top-color:#6dd396 !important;
}
.woocommerce-message::before,
.woocommerce-info::before{
    color:#6dd396 !important;
}
.woocommerce-cart h2,
.woocommerce-checkout h2 {
    display: none;
}
.cart_totals h2 {
    display: block;
    font-size: 14px;
    color:#9e9d9e;
    text-transform: uppercase;
}
.woocommerce table.shop_table {
    border: 0;
}
.woocommerce table.shop_table th {
    display: none;
}
td.product-name {
    text-transform: uppercase;
    font-weight: 700;
}
tr.cart-subtotal {
    display: none !important;
}
tr.order-total strong {
    font-weight: 300;
}
.cart_totals {
    margin-top: 50px;
}
span.woocommerce-Price-amount.amount {
    font-size: 20px;
    letter-spacing: 1.5px;
}
.woocommerce-cart table.cart img {
    width: 125px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
td.product-price span.woocommerce-Price-amount.amount {
    color:3dbdbdb !important;
}
.woocommerce a.remove {
    color:#dbdbdb !important;
    font-weight: 300 !important;
    font-size: 3em !important;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
        background: #fff;
    color: #6dd396 !important;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0 !important;
    transition: background 0.75s ease-in;
}
input#coupon_code {
        background: transparent;
    border: 1px solid #dbdbdb;
    height: 30px;
    width: 150px;
    text-transform: uppercase;
}
.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover {
    color:#fff !important;
    background: #6dd396 !important;
}
.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,
a.button.wc-backward,
a.button.wc-forward{
        background-color: #6dd396 !important;
    color:#fff !important;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size:13px !important;
    font-weight: 800 !important;
    padding: 15px 40px;
    transition: background 0.75s ease-in;
    border-radius: 0;
    outline:0;
}
.woocommerce button.button.alt:hover {
    background-color: #40c575;
    border-color: #40c575;
}
.woocommerce div.product form.cart div.quantity {
    float: none;
    margin-bottom: 20px;
}
.woocommerce .quantity .qty {
    font-size: 13px;
    font-weight: 700;
    border-color:2px solid rgba(158, 157, 158, 0.2) !important;
    min-height: 30px;
}
.woocommerce div.product form.cart .variations td.label {
    display: none;
}
.product_meta {
    display: none;
}
.woocommerce div.product form.cart .variations select {
    background: transparent;
    border: 1px solid #808080 !important;
    border-radius: 0 !important;
    height: 30px;
    font-weight: 800 !important;
    text-transform: uppercase;
    min-width: 150px !important;
    max-width: 150px !important;
    letter-spacing: 0.5px;
    outline: 0;
}
.woocommerce div.product form.cart .variations {
    float: right;
    width: 85%;
}
.single_variation_wrap {
    float: left;
    width: 15%;
}
.woocommerce div.product form.cart .button {
    width: 224px;
}

/* Header / Footer / Sidebar
	 ========================================================================== */
header {
    padding-top: 10px;
    height: 70px;
    border-bottom: 1px solid rgba(93, 206, 139, 0.5);
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 99;
    top:0;
}
header .wrapper {
    width: 90%;
    margin: 0 auto;
}
header nav {
    width: 40%;
    float: left;
    padding-top:15px;
}
header nav#nav_right {
    text-align: right;
}
.site_branding {
    width: 20%;
    float: left; 
    text-align: center;
    position: relative;
    z-index: 9;
}
.site_branding img {
    width: 100px;
    margin: 0 auto;
}

header nav ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 800;
}


footer {
    background: #000;
    color:#fff;
    padding-top: 80px;
    padding-bottom: 45px;
    width: 100%;
    overflow: hidden;
}
footer .wrapper {
    width: 95%;
    margin: 0 auto;
}
footer .wrapper > div {
    float: left;
}
.footer_left,
.footer_right{
    width: 20%;
    max-height: 200px;
    text-align: center;
}
.footer_center {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.footer_left img {
    width: 90%;
    margin: 0 auto;
}
.footer_center ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer_center ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 800;
}
.footer_news {
    margin-top: 30px;
    text-align: center;
    width: 90%;
    margin: 40px auto 0;
}
.footer_news p {
    margin-bottom: 15px;
}
.footer_news input[type=email]{
    background:transparent;
    border:1px solid #808080;
    height: 30px;
    color:#fff;
}

.footer_news input[type=submit] {
        background: #6dd396;
    color: #fff;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 20px;
    height: 34px;
    vertical-align: top;
    outline:0;
    transition: background 0.75s ease-in;
}

aside#secondary {
    width: 100%;
    max-width: 300px;
    float: left;
    padding-top: 85px;
    padding-bottom: 200px;
    background-color: #f4f4f4;
    min-height: 500px;
    
}
aside#secondary .wrapper,
aside#cart_popout .wrapper{
    width: 80%;
    margin: 0 auto;
}
aside#cart_popout .wrapper {
    width: 90%;
}
aside#secondary h2.widget-title {
    font-size: 12px;
    font-weight: 600;
    color:#9e9d9e;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block !important;
}
aside#cart_popout {
    width: 100%;
    max-width: 300px;
    float: right;
    padding-bottom: 200px;
    background-color: #fff;
    min-height: 500px;
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    display: none;
    
}
aside#cart_popout .woocommerce a.remove {
    font-size:2em !important;
}
aside#cart_popout span.quantity,
aside#cart_popout span.woocommerce-Price-amount.amount{
    font-size: 13px !important;
    text-align: left;
}
aside#cart_popout h2.widget-title {
    margin-bottom: 20px;
}
aside#cart_popout .widget_shopping_cart .cart_list li {
    margin-bottom: 20px;
}
aside#cart_popout p.woocommerce-mini-cart__buttons.buttons {
    margin-top: 30px;
}
.woocommerce-checkout aside#secondary {
    min-height: 1700px;
}


/* Contact Form
	 ========================================================================== */

div.textwidget input.wpcf7-form-control.wpcf7-submit {
    background: #6dd396;
    color: #fff;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 500;
    padding: 10px 40px;
    transition: background 0.75s ease-in;
    width: 100%;
    letter-spacing: 2px !important;
    display: block;
}
div.textwidget input.wpcf7-form-control.wpcf7-submit:hover {
    background: #fff;
    color: #6dd396;
    border-color: #6dd396;
}
div.textwidget input[type=text],
div.textwidget input[type=email],
div.textwidget textarea {
    background: transparent;
    height: 20px;
    width: 95%;
    padding: 5px;
    font-size: 12px;
    border:1px solid #dadada;
    margin-bottom: 10px;
    color:#dadada !important;
    outline-color: #6dd396;
}
div.textwidget textarea {
    height: 80px;
}

#contact_page input[type=text],
#contact_page input[type=email],
#contact_page textarea {
        background: transparent;
    height: 35px;width: 100%;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 1.5px;
    border: 1.5px solid rgba(218, 218, 218, 0.7) !important;
    margin-bottom: 10px;
    outline-color: #6dd396 !important;
}
#contact_page textarea {
    height: 200px;
    width: 100%;
}
#contact_page form.wpcf7-form {
    width: 80%;
    max-width: 500px;
}

#contact_page input.wpcf7-form-control.wpcf7-submit {
    background: #6dd396;
    color: #fff;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 500;
    padding: 10px 40px;
    transition: background 0.75s ease-in;
    width: 100%;
    letter-spacing: 2px !important;
    display: block;
    width: 200px;
}
#contact_page input.wpcf7-form-control.wpcf7-submit:hover {
    background: #fff;
    color: #6dd396;
    border-color: #6dd396;
}

/* Front Page
	 ========================================================================== */
.page_front_hero {
    height: 600px;
    width: 100%;
    background-size:cover;
    background-position: center;
    display: none;

}
.page_front_hero .wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
        display: flex;
  justify-content: center;
    flex-direction: column;
}
.page_front_hero h1 {
    color:#fff;
}
.page_front_hero p {
    color:#fff;
    margin-bottom: 35px;
}
.page_front_layer_top {
    background-size:cover;
    width: 100%;
}
.page_front_layer_top .overlay {
    background: rgba(93, 206, 139, 0.9);
}
.page_front_layer_top .wrapper {
    padding-top: 100px;
    padding-bottom:100px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.page_front_intro {
    text-align: center;
}
.page_front_intro p {
    color:#fff;
    margin-bottom: 35px;
}

.page_front_layer_mid {
    padding-top: 100px;
    padding-bottom: 100px;
}
.page_front_product_switcher {
    overflow: hidden;
    padding-bottom: 50px;
}
.switcher_center {
    width: 60%;
    text-align: center;
    float: left;
    outline: 0;
}
.switcher_center img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto 30px;
    opacity: 0.25;
    transition: opacity 0.5s ease;
}
.switcher_center img.swatch {
    display: block;
    max-width: 70px;
    margin-top: 35px;
}
.switcher_center .slide_action {
    visibility: hidden;
}
.slick-current .slide_action {
    visibility: visible;
}
.slick-current img {
    opacity: 1;
}
.switcher_center p {
    color:#9e9d9e;
    margin-bottom: 35px;
}
.switcher_center p span.woocommerce-Price-amount.amount {
    font-size: 14px;
}
.switcher_left,
.switcher_right{
    width: 20%;
    float: left;
    opacity: 0.2;
}
.switcher_left img,
.switcher_right img {
    width: 100%;
    max-width: 200px;
}
.switcher_left img {
    margin-left: -5px;
}
.switcher_right {
    text-align: right;
}
.switcher_right img {
    margin-right: -5px;
} 

.page_front_layer_bottom {
    background:#f4f4f4;
}
.page_front_layer_bottom .wrapper {
    width: 85%;
    margin: 0 auto;
/*    overflow: hidden;*/
}
.page_front_process {
    padding-top: 75px;
    padding-bottom: 50px;
    position: relative;
}
.page_front_process_text {
    float: left;
    width: 40%;
}
.page_front_process_text h3 {
    margin-bottom: 15px;
}
.page_front_process_text p {
    font-weight: 500;
}
.page_front_process_graphic {
    float: left;
    width: 60%;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -80px;
    margin: auto;
    z-index: 9;
}
.page_front_process_graphic img {
    width: 90%;
    max-width: 500px;

}
.page_front_process_graphic .slipped_on {
    display: none;
}
.slip_switch {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    
}
.slip_switch img {
    width: 90%;
    margin: 0 auto;
    max-width: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
}
.slip_switch img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.greeny {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.slip_switch > div {
    float: left;
    width: 100px;
}

.instagram_board {
    padding-top: 200px;
    width: 100%;
}
.instagram_board img{
    width: 100%;
}


/* WOOCOMMERCE
	 ========================================================================== */
.woocommerce header.entry-header {
    display: none;
}
.woocommerce aside#secondary {
    display: none;
}
.woocommerce div.product {
    overflow: hidden;
}

.product_summary h2 {
    text-transform: uppercase;
}
.single-product div.product {
    padding-top: 150px;
    width: 90%;
    margin: 0 auto;
}
.single-product .images {
    width: 50% !important;
    margin-right: 10%;
}
.single-product .product_summary {
    width: 40% !important;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color:#9e9d9e !important;
}
.woocommerce-product-details__short-description {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom:2px solid rgba(158, 157, 158, 0.2);
}

nav.navigation.post-navigation {
    display: none;
}


/* DEFAULT TEMPLATE
	 ========================================================================== */
.default_hero {
    height: 200px;
    width: 100%;
    background-size:cover;
    background-position: center;
    position:relative;
}
.default_hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(93, 206, 139, 1);
}
.shade {
    background: rgba(93, 206, 139, 0.9);
    height: 100%;
}
.default_hero .overlay .wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.default_hero .overlay .wrapper h1 {
    color:#fff;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 28px;
}
.default_container {
    width: 100%;
    overflow: hidden;
}
.default_content {
    background: #fff;
    width: calc(100% - 300px);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    float: right;
}
body.page-id-8 .default_content {
    background: #f4f4f4;
    margin-bottom: 100px;
}
.default_content .wrapper {
    width: 85%;
    margin: 0 auto;
}
.default_content h2 {
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
body.page-id-96 .default_content {
    padding-top: 0;
}
body.page-id-96 .default_content h2 {
    display: none;
}

/* About
	 ========================================================================== */
.switchbox {
    width: 85%;
    margin: 75px auto;
}
.switchbox_uno {
    padding-top: 150px;
}
.switchbox_text {
    width: 50%;
    float: left;
}
.switchbox_text  p {
    width: 100%;
    margin: 0 auto;

}
.switchbox_pic {
    width: 50%;
    float: left;
}
.switchbox_pic_left {
    text-align: left;
}
.switchbox_pic_right {
    text-align: right;
}
.switchbox_pic img {
    width: 80%;
    margin: 0 auto;
}

/* Responsive
	 ========================================================================== */
@media screen and (max-width:950px) {
    .page_front_hero {
        height: 400px;
        text-align: center;
    }
    a.btn_transparent {
        margin: 0 auto;
    }
    .page_front_layer_top .wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page_front_product_switcher {
        padding-bottom: 0;
    }
    .page_front_process_text {
        float: none;
        width: 100%;
    }
    .slip_switch {
        margin-left: 0;
    }
    .page_front_layer_bottom .wrapper {
        width: 90%;
    }
    .page_front_process {
        padding-top: 50px;
    }
    .page_front_process_graphic {
        bottom: -35px;
    }
    
    .instagram_board {
        padding-top: 100px;
    }
    footer {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .default_content {
        width: 100%;
        float: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    aside#secondary {
        float: none;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 100%;
        min-height: auto;
    }
    .switchbox_uno {
        padding-top: 0;
    }
    .switchbox {
        margin-top:0;
        width: 95%;
        text-align: center;
    }
    .switchbox_pic,
    .switchbox_text{
        width: 100%;
        float: none;
    }
    .footer_left, .footer_right,
    .footer_center{
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .footer_left img {
        width: 100px;
    }
    .footer_center ul li {
        display: block;
    }
    .footer_news input[type=email] {
        display: block;
        width: 99%;
    }
    .footer_news input[type=submit] {
        display: block;
        width: 100%;
    }
    footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    div#responsive-menu-container {
    padding-top: 100px;
    text-transform: uppercase;
    }
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        text-align: center !important;
    }
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
        display: none;
    }
    td.product-thumbnail {
        display: block !important;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
    div#order_review{
        width: 100% !important;
    }
    h3#order_review_heading {
        margin: 0 auto;
    }
    .woocommerce-checkout aside#secondary {
        min-height: auto;
    }
    .single-product .images,
    .single-product .product_summary{
        width: 100% !important;
        margin-right: auto;
        text-align: center;
    }
    .single-product div.product {
        padding-top: 50px;
    }
    .woocommerce div.product form.cart .button {
        float: none;
    }
    #contact_page form.wpcf7-form {
        width: 95%;
    }
    .woocommerce div.product div.images.woocommerce-product-gallery {
    margin-bottom: 2em !important;
}
}


@media screen and (max-width:550px) {
    #video-viewport { 
        min-height: 40vh !important;
    }

    .fullsize-video-bg { 
        min-height: 40vh;
        display: none;
    }
    .page_front_container {
        margin-top: 56px;
    }
    .page_front_hero {
        display: block !important;
    }
    
}